* {
  text-decoration: none
}
body {
background-image:url(fundo\ pagina.jpg);
background-repeat: no-repeat;
background-size: cover;
font-size: 30px;
font-family: 'Montserrat', sans-serif;
}

header {
  display: inline-block;
  background-color:rgb(184, 217, 240)
}
#meutitulo1 {
width:72%;
display:inline-block
}
#meutitulo2 {
  margin:auto;
  display:inline-block
}

main {
  background-color: aquamarine;
}
footer {
  background-color: rgb(68, 153, 89);

}
#listarodape {
display:inline-block;
width: 25%;

}
#imagemrodape {
width:70%;
margin: -5% 30% 30%;
display: inline-block;
}


.botao {
    background-color: #11a36a;  
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    width: 100px;
}
ul li {
  margin-bottom: 10px
}
#rodape {
  float:right;
  margin: -370px 30px
}
